.application {
  padding-top: 46px;
}

.application__title {
  &--hidden {
    .visually-hidden;
  }
}

.application__intro {
  margin: 0 auto 48px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}

