.button {
  display: inline-block;
  vertical-align: top;
  padding: 15px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 3px solid @white;
  border-radius: 30px;
  color: @white;
  background-color: transparent;
}
