.contacts {
  padding-top: 41px;
  text-align: center;
}

.contacts__wrapper {
  .container;
}

.contacts__title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  margin: 0;
  margin-bottom: 30px;
}

.contacts__items {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

.contacts__item {
  margin-bottom: 24px;
}

.contacts__item-lead {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  margin: 0;
}

.contacts__item-info {
  color: @pink;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  font-style: normal;
  text-decoration: none;

  &[href]:hover,
  &[href]:focus {
    color: @black;
    text-decoration: underline;
  }

  &[href]:active {
    color: rgba(@blue-dark, 0.3);
    text-decoration: none;
  }
}

.contacts__map-wrapper {
  position: relative;
  height: 200px;
}

@media (min-width: @tablets-width) {
  .contacts {
    padding-top: 46px;
  }

  .contacts__title {
    font-size: 40px;
    line-height: 48px;
    width: 470px;
    margin-left: auto;
    margin-right: auto;
  }

  .contacts__items {
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 16px;
  }

  .contacts__item {
    padding: 14px 0;
    margin-bottom: 0;
    width: 230px;

    &--phone {
      margin-right: 11px;
    }

    &--email {
      margin-left: 3px;
    }

    &--adress {
      margin-top: 20px;
    }
  }

  .contacts__item-lead {
    margin-bottom: 2px;
  }

  .contacts__map {
    height: 373px;
  }
}

@media (min-width: @desktops-width) {
  .contacts {
    padding-top: 59px;
  }

  .contacts__title {
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 55px;
  }

  .contacts__items {
    padding-bottom: 20px;
  }

  .contacts__item {
    padding: 0;

    &--phone {
      order: 1;
      margin-right: 0;
    }

    &--email {
      order: 3;
      margin-left: 0;
    }

    &--adress {
      order: 2;
      margin-top: 0;
    }
  }

  .contacts__item-lead {
    margin-bottom: 24px;
  }

  .contacts__map {
    height: 500px;
  }
}
