.editor {
  background-color: @grey-light;
}

.editor__wrapper {
  .container;
}

.editor__image {
  margin: 0;
  padding-top: 23px;
  width: 280px;
}

.editor__fields {
  display: flex;
  flex-direction: column;
  padding-bottom: 41px;
}

.editor__wrapper-tools {
  padding-top: 33px;
}

.editor__tools {
  .reset-list;
  display: flex;
  justify-content: space-around;
}

.editor__icon {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 48px;
  height: 50px;
}

.editor__icon-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);


  &--crop {
    width: 48px;
    height: 48px;
  }

  &--fill {
    margin-top: 2px;
    width: 48px;
    height: 48px;
  }

  &--contrast {
    width: 32px;
    height: 32px;
  }
}

.editor__range {
  position: relative;
  height: 14px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.editor__scale {
  height: 2px;
  background-color: @blue-dark;
}

.editor__button-control {
  position: absolute;
  display: inline-block;
  width: 14px;
  height: 14px;
  top: 0;
  bottom: 0;
  transform: translateX(-50%);
  border: 2px solid #d22856;
  border-radius: 83%;
  background-color: @white;
  cursor: pointer;
  outline: none;

  &:active,
  &:focus {
    background-color: @pink;
  }
}

.editor__buttons {
  position: relative;
  padding-top: 64px;
}

.editor__button {
  width: 100%;
  border: 3px solid;
  border-radius: 30px;
  background-color: transparent;

  &--upload {
    border-color: @pink;
    color: @pink;
    margin-bottom: 15px;

    &:hover,
    &:focus {
      background-color: @pink;
      color: @white;
    }

    &:active {
      color: rgb(@white, 0.3);
    }
  }

  &--cancel {
    border-color: @blue-dark;
    color: @blue-dark;
    opacity: 0.1;

    &:hover,
    &active {
      opacity: 0.3;
    }

    &:active {
      background-color: @blue-dark;
      color: @white;
    }

    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }
}

@media (max-width: @phones-max-width) {
  .editor__wrapper {
    width: 100%;
    padding: 0;
  }

  .editor__image {
    .container;
  }

  .editor__wrapper-tools {
    .container;
    padding-right: 40px;
    padding-left: 40px;
  }

  .editor__tools {
    position: relative;
    padding-bottom: 72px;
  }

  .editor__tool {
    display: inline-block;
    vertical-align: top;
  }

  .editor__control {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding-bottom: 28px;
    background-color: @grey-light;

    &--crop {
      display: block;
    }
  }

  .editor__buttons {
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: -1px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: @grey-darker;
    }
  }

  .editor__wraper-buttons {
    .container;
  }
}

@media (min-width: @tablets-width) {
  .editor {
    padding-bottom: 47px;
  }

  .editor__form {
    display: flex;
  }

  .editor__image {
    width: 300px;
    padding-top: 57px;
  }

  .editor__fields {
    padding-top: 40px;
    padding-bottom: 0;
    margin-left: 45px;
    width: 275px;
    flex-grow: 1;
  }

  .editor__wrapper-tools {
    padding: 0;
  }

  .editor__tools {
    flex-direction: column;
  }

  .editor__tool {
    display: flex;
    align-items: center;
    box-shadow: inset 0 -1px @grey-darker;
    padding-top: 25px;
    padding-bottom: 24px;
  }

  .editor__icon {
    margin-right: 1px;
    margin-left: 3px;
    width: 24px;
    height: 24px;
  }

  .editor__icon-image {
    &--crop {
      width: 24px;
      height: 24px;
    }

    &--fill {
      width: 24px;
      height: 24px;
    }

    &--contrast {
      width: 16px;
      height: 16px;
    }
  }

  .editor__control {
    position: relative;
    padding-left: 27px;
    padding-right: 18px;
    width: 100%;
  }

  .editor__buttons {
    margin-top: auto;
  }

  .editor__wraper-buttons {
    display: flex;
    flex-direction: column;
    padding-left: 2px;
    padding-right: 13px;
  }

  .editor__button {
    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }

  .editor__button-control {
    &--crop {
      left: 76%;
    }

    &--fill {
      left: 17%;
    }

    &--contrast {
      left: 50%;
    }
  }
}

@media (min-width: @desktops-width) {
  .editor {
    background-color: transparent;
  }

  .editor__form {
    padding-left: 80px;
    padding-right: 60px;
    padding-bottom: 52px;
    background-color: @grey-light;
  }

  .editor__fields {
    margin-left: 90px;
  }

  .editor__tool {
    padding-top: 12px;
    padding-bottom: 13px;
  }

  .editor__icon {
    margin: 0;
    width: 48px;
    height: 48px;
  }

  .editor__icon-image {
    &--crop {
      width: 48px;
      height: 48px;
      margin-left: -2px;
      margin-top: 1px;
    }

    &--fill {
      margin-top: 3px;
      width: 48px;
      height: 48px;
    }

    &--contrast {
      width: 32px;
      height: 32px;
      margin-left: -2px;
    }
  }

  .editor__control {
    padding-top: 14px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 44px;

    &--contrast {
      padding-top: 11px;
    }
  }

  .editor__button-control {
    &--crop {
      left: 29%;
    }

    &--fill {
      left: 89%;
    }

    &--contrast {
      left: 59%;
    }
  }

  .editor__wraper-buttons {
    flex-direction: row;
    padding: 0;
    width: 100%;
  }

  .editor__button {
    width: 183px;

    &--cancel {
      margin-left: auto;
    }

    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
}
