.editor {
  background-color: @grey-light;
}

.editor__wrapper {
  .container;
}

.editor__image {
  margin: 0;
  padding-top: 20px;
}

.editor__fields {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}

.editor__wrapper-tools {
  padding-top: 40px;
}

.editor__tools {
  position: relative;
  .reset-list;
  display: flex;
  justify-content: space-around;
}

.editor__icon {
  width: 45px;
  height: 45px;
}

.editor__range {
  position: relative;
  height: 14px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.editor__scale {
  height: 2px;
  background-color: @blue-dark;
}

.editor__buttons {
  padding-top: 40px;
}

.editor__button-control {
  position: absolute;
  display: inline-block;
  width: 14px;
  height: 14px;
  top: 0;
  bottom: 0;
  left: 70%;
  border: 2px solid @pink;
  border-radius: 50%;
  background-color: @white;
  cursor: pointer;
}

.editor__button {
  width: 100%;
  border: 3px solid;
  border-radius: 30px;
  background-color: transparent;

  &--upload {
    border-color: @pink;
    color: @pink;
    margin-bottom: 15px;

    &:hover,
    &:focus {
      background-color: @pink;
      color: @white;
    }

    &:active {
      color: rgb(@white, 0.3);
    }
  }

  &--cancel {
    border-color: @blue-dark;
    color: @blue-dark;
    opacity: 0.1;

    &:hover,
    &active {
      opacity: 0.3;
    }

    &:active {
      background-color: @blue-dark;
      color: @white;
    }
  }
}

@media (max-width: 659px) {
  .editor__wrapper {
    width: 100%;
    padding: 0;
  }

  .editor__image {
    .container;
  }

  .editor__wrapper-tools {
    .container;
  }

  .editor__tools {
    padding-bottom: 70px;
  }

  .editor__control {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding-bottom: 28px;
  }

  .editor__wraper-buttons {
    .container;
  }
}

@media (min-width: @tablets-width) {
  .editor__form {
    display: flex;
    justify-content: space-between;
  }

  .editor__image {
    width: 300px;
  }

  .editor__fields {
    padding: 45px 0;
    width: 275px;
  }
}

@media (min-width: @desktops-width) {
  .editor__form {
    padding: 0 60px;
  }

  .editor__image {
    width: 300px;
    padding: 60px 0;
  }
}
