.features {
  padding-top: 40px;
}

.features__header {
  .container;
  padding-bottom: 32px;
}

.features__title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
  margin: 0;
  text-align: center;
  margin-bottom: 32px;

  &:last-child {
    margin-bottom: 0;
  }
}

.features__wrapper {
  position: relative;
  padding-top: 83px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #f2f2f2 url("../img/bg-triangle-white.svg") no-repeat center top;
    background-size: 100%;
  }
}

.features__inner {
  .container;
}

.features__list {
  .reset-list;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  &::after {
    content: "";
    position: relative;
    display: block;
    bottom: 0;
    width: 158px;
    height: 277px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    background-repeat: no-repeat;
    background-position: center top;
  }
}

.features__item {
  text-align: center;
  color: @black;
  margin-bottom: 32px;

  &:last-child {
    margin-bottom: 0;
  }
}

.features__name {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: @black;
  margin-top: 0;
  margin-bottom: 11px;
}

.features__description {
  margin: 0;
}

@media (max-width: 659px) {
  .features__research {
    .visually-hidden;
  }
}

@media (min-width: @tablets-width) {
  .features {
    padding-top: 48px;
  }

  .features__header {
    margin-bottom: 14px;
  }

  .features__title {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 0;

    &:last-child {
      display: block;
      max-width: 355px;
      margin: 0 auto;
    }
  }

  .features__wrapper {
    padding-top: 0;
  }

  .features__inner {
    padding-top: 75px;
  }

  .features__list {
    padding-left: 50%;
    padding-bottom: 42px;

    &::after {
      display: none;
    }
  }

  .features__item {
    text-align: left;
    margin-bottom: 33px;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 268px;
      height: 481px;
    }
  }

  .features__name {
    margin-bottom: 13px;
  }

  .features__research {
    padding-top: 58px;
  }
}

@media (min-width: @desktops-width) {
  .features {
    padding-top: 68px;
  }

  .features__header {
    margin-bottom: 34px;
  }

  .features__title {
    font-size: 50px;
    line-height: 60px;

    &:last-child {
      max-width: 500px;
    }
  }

  .features__wrapper {
    padding-top: 0;
  }

  .features__inner {
    padding-top: 0;
  }

  .features__list {
    flex-direction: row;
    padding: 0;
    top: 20px;
  }

  .features__item {
    text-align: center;
    position: relative;
    width: 300px;
    padding: 357px 30px 75px;
    margin-right: 20px;
    margin-bottom: 0;
    font-size: 18px;
    line-height: 30px;
    top: -12px;

    &::before {
      top: 0;
      width: 100%;
      height: 302px;
    }

    &--screen1::before {
      background: url("../img/iphone-screen-1-desktop@1x.png") no-repeat center top;
    }

    &--screen2::before {
      background: url("../img/iphone-screen-2-desktop@1x.png") no-repeat center top;
    }

    &--screen3::before {
      background: url("../img/iphone-screen-3-desktop@1x.png") no-repeat center top;
    }

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  .features__name {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 27px;
  }

  .features__research {
    padding-top: 0;
  }
}

/*Адаптивная графика*/
.features__list::after {
  background-image: url("../img/iphone-screen-mobile@1x.png");

  @media (min-resolution: @retina-dpi),
        (min-resolution: @retina-dppx) {
    background-image: url("../img/iphone-screen-mobile@2x.png");
    background-size: 157px auto;
  }
}

.features__item {
  &--screen1::before {
    @media (min-width: @tablets-width) {
      background: url("../img/iphone-screen-1-tablet@1x.png") no-repeat center top;
    }

    @media (min-width: @tablets-width) and (min-resolution: @retina-dpi),
          (min-width: @tablets-width) and (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-screen-1-tablet@2x.png");
      background-size: 268px auto;
    }

    @media (min-width: @desktops-width) {
      background-image: url("../img/iphone-screen-1-desktop@1x.png");
    }

    @media (min-width: @desktops-width) and (min-resolution: @retina-dpi),
          (min-width: @desktops-width) and (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-screen-1-desktop@2x.png");
      background-size: 292px auto;
    }
  }


  &--screen2::before {
    @media (min-width: @tablets-width) {
      background: url("../img/iphone-screen-2-tablet@1x.png") no-repeat center top;
    }

    @media (min-width: @tablets-width) and (min-resolution: @retina-dpi),
          (min-width: @tablets-width) and (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-screen-2-tablet@2x.png");
      background-size: 268px auto;
    }

    @media (min-width: @desktops-width) {
      background-image: url("../img/iphone-screen-2-desktop@1x.png");
    }

    @media (min-width: @desktops-width) and (min-resolution: @retina-dpi),
          (min-width: @desktops-width) and (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-screen-2-desktop@2x.png");
      background-size: 292px auto;
    }
  }

  &--screen3::before {
    @media (min-width: @tablets-width) {
      background: url("../img/iphone-screen-3-tablet@1x.png") no-repeat center top;
    }

    @media (min-width: @tablets-width) and (min-resolution: @retina-dpi),
          (min-width: @tablets-width) and (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-screen-3-tablet@2x.png");
      background-size: 268px auto;
    }

    @media (min-width: @desktops-width) {
      background-image: url("../img/iphone-screen-3-desktop@1x.png");
    }

    @media (min-width: @desktops-width) and (min-resolution: @retina-dpi),
          (min-width: @desktops-width) and (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-screen-3-desktop@2x.png");
      background-size: 292px auto;
    }
  }
}
