.form {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 15px;
}

.form__fieldset {
  padding-top: 35px;
  margin-bottom: 42px;
  border: 0;
}
.form__title {
  padding-top: 5px;
  padding-bottom: 15px;
  text-align: center;
  color: @pink;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;

  &--hidden {
    .visually-hidden;
  }
}

.form__field-text {
  margin-bottom: 15px;
}

.form__text-label {
  margin-left: 25px;
  text-transform: uppercase;
  color: @pink;
  line-height: 30px;
}

.form__text-input {
  display: block;
  padding: 14px 20px 15px;
  border: 2px solid #e5e5e5;
  border-radius: 2px;
  font-family: "Open Sans","Arial",sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: @blue-dark;
  outline: 0;

  &:active,
  &:focus {
    border-color: @pink;
  }

  &:hover {
    border-color: @blue-dark;
  }
}

.form__field-checkbox {
  margin-bottom: 45px;
}

.form__checkbox-label {
  vertical-align: top;
  font-size: 18px;
  margin: 0;
  line-height: 30px;
  cursor: pointer;
}

.form__checkbox-input {
  width: 40px;
  height: 40px;
}

.form__field-radio {
  margin-bottom: 36px;
}

.form__radio-label {
  vertical-align: top;
  font-size: 18px;
  margin: 0;
  line-height: 30px;
  cursor: pointer;
}

.form__radio-input {
  width: 40px;
  height: 40px;
}

.form__textarea {
  padding: 14px 20px;
  margin: 0;
  display: block;
  border: 2px solid @grey;
  border-radius: 2px;
  font-family: "Open Sans","Arial",sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: @blue-dark;
  outline: 0;
  resize: none;

  &:active,
  &:focus {
    border-color: @pink;
  }

  &:hover {
    border-color: @blue-dark;
  }
}

.form__submit-button {
  padding: 15px 30px;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: @white;
  background-color: @green;
  margin-bottom: 35px;
}

.form__note {
  text-align: center;
  margin: 0;
  line-height: 30px;
  text-transform: uppercase;

  & span {
    color: @pink;
  }
}
