.gallery {
  padding-top: 46px;
}

.gallery__intro {
  .container;
  margin-bottom: 48px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}

@media (min-width: @tablets-width) {
  .gallery__intro {
    font-size: 18px;
    line-height: 30px;
  }
}
