.intro {
  min-height: 240px;
  background-color: @blue-dark;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  color: @white;
}

.intro-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  margin: 0;
  text-align: center;
  padding-top: 90px;

  &--hidden {
    .visually-hidden;
  }
}
