.page-header {
  position: absolute;
  background-color: rgba(@black, 0.3);
  color: #ffffff;
  width: 100%;
  z-index: 2;

  &--full {
    position: relative;
    background-color: @blue-dark;
  }
}

.page-header__wrapper {
  width: 100%;
}

.page-header__logo {
  display: inline-block;
  vertical-align: top;
  margin: 22px 20px;
  width: 75px;
  height: 22px;
}
