.page-footer {
  padding: 40px 20px;
  text-align: center;

  &__wrapper {
    .container;
  }

  &__logo {
    display: block;
    height: 40px;
    margin-bottom: 35px;
  }

  &__social {
    margin-bottom: 34px;
  }
}

@media (max-width: 659px) {
  .page-footer {
    &--index {
      display: none;
    }
  }
}

@media (min-width: @tablets-width) {
  .page-footer {
    &__wrapper {
      display: flex;
      justify-content: space-between;
      padding-top: 35px;
      padding-bottom: 35px;
    }

    &__logo {
      margin-bottom: 0;
    }

    &__social {
      margin-bottom: 0;
    }
  }
}
