.page-header {
  background-color: @blue-dark;
  color: @white;
}

.page-header__logo {
  display: inline-block;
  vertical-align: top;
  margin-top: 20px;
  margin-bottom: 25px;
  margin-left: 20px;
  margin-right: 20px;
}
