.reviews {
  padding-top: 50px;
  padding-bottom: 45px;
}

.reviews__title {
  &--hidden {
    .visually-hidden;
  }
}

.reviews__list {
  .reset-list;
}

.reviews__name {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: @black;
  margin: 0;
  margin-bottom: 15px;
}

.reviews__text {
  margin: 0;
}
