.reviews {
  padding-top: 35px;
  padding-bottom: 40px;
}

.reviews__title {
  &--hidden {
    .visually-hidden;
  }
}

.reviews__list {
  .reset-list;
}

.reviews__name {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: @black;
  text-align: center;
  margin: 0;
  margin-bottom: 15px;
}

.reviews__text {
  margin: 0;
  text-align: center;
}
