.site-list {
  .reset-list;
  display: block;
  text-align: center;
}

.site-list__item a {
  display: block;
  margin: 0;
  background-color: @blue-dark;
  color: @white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  padding: 16px 0;
  box-shadow: 0 -1px 0 @black, inset 0 1px 0 rgba(@white, 0.15);

  &:hover,
  &:focus {
    color: @pink;
  }

  &:active {
    color: rgba(@pink, 0.3);
  }
}

.site-list__item--current a {
  &:hover,
  &:focus {
    color: @white;
  }
}

.site-list__item:last-child a {
  box-shadow: 0 -1px 0 @black, inset 0 1px 0 rgba(@white, 0.15), inset 0 -1px 0 @black;
}

@media (min-width: @desktops-width) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  .site-list__item {
    position: relative;
    margin-left: 80px;

    &--current {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: -2px;
        left: 0;
        height: 2px;
        background: @white;
      }
    }

    &:last-child a {
      box-shadow: none;
    }

    & a {
      background-color: transparent;
      text-transform: none;
      box-shadow: none;
      font-weight: 400;
      padding: 10px 0 5px;
    }
  }
}
